
<header>
    <h1><i class='bx bx-cloud'>{{title}}</i></h1>

    <a href="/"><i class='bx bx-compass'>Weather</i></a>
    <a href="/about"><i class='bx bx-user-circle'>About</i></a>
    <a href="/help"><i class='bx bx-help-circle'>Help</i></a>
   
</header>