@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    color:black ;
    font-family:'Poppins', sans-serif;
    max-width: 650px;
    margin:0 auto;
    padding:0 16px;
    background:#fff;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color:rgb(63, 62, 62);
    border-top: 1px solid black;
    margin-top: 16px;
    padding: 16px 0;
    background: linear-gradient(white,lightblue);
    width:650px ;
}
footer p{
    text-align: center;
    align-items: center;
}
header{
    margin-top:16px ;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
    align-items: center;
    text-align: center;
}
header a{
    color: black;
    margin-right: 16px;
    text-decoration: none;
    font-weight: 400;
}
.portrait{
    width: 250px;
}
.main-content{
    flex-grow:1;
}