@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    color:black ;
    font-family:'Poppins', sans-serif;
    max-width: 650px;
    margin:0 auto;
    padding:0 16px;
    background-color: rgb(152, 240, 243);
}

footer {
    color:gray;
    background: hotpink;
}